<!-- views/account/favorites.ejs -->
<!-- content heading - Title Element-->
<% if (title) { %>
<h1><%= title || "My Favorites" %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Message Block -->
<%- messages() %>

<!-- Display favorites -->
<% if (favorites && favorites.length > 0) { %>
  <ul>
    <% favorites.forEach(vehicle => { %>
      <li>
        <h2><%= vehicle.inv_make %> <%= vehicle.inv_model %></h2>
        <span class="favorite-heart favorited" data-inv-id="<%= vehicle.inv_id %>">♥</span>
        <p>Price: $<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %></p>
        <p>Year: <%= vehicle.inv_year %></p>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p>You have no favorite vehicles.</p>
<% } %>

